/*------------------------------------------------------------------------------
               Obsidian Colored Sidebar Items by CyanVoxel v2.0.0               

                   A colored sidebar CSS snippet inspired by
                   the "Coloured Folders" snippet by Lithou.

This snippet targets folders beginning with numbered prefixes, and applies full
color formatting based on the root colors listed below. The prefixes are both
customizable and extensible; feel free to change, add, and remove them based on
your own titles and vault structure! By default I have a range of 8+1 colors,
however I've provided some other common colors as a starting point for your own
customization. Just swap out the color variable names in the prefix groups.

------------------------------------------------------------------------------*/

:root {
        /* ================================ Colors ================================ */
        --red: #e22c3c;
        /* Default Prefix: None */
        --red-orange: #e94400;
        /* Default Prefix: None */
        --orange: #ee6748;
        /* Default Prefix: None */
        --amber: #fa9f50;
        /* Default Prefix: None */
        --yellow: #ffd85e;
        /* Default Prefix: None */
        --lime: #97e768;
        /* Default Prefix: None */
        --mint: #52eea3;
        /* Default Prefix: 000 */
        --cyan: #51e1e9;
        /* Default Prefix: Atlas */
        --cool-cyan: #43cfea;
        /* Default Prefix: None */
        --light-blue: #54b6f8;
        /* Default Prefix: Calendar */
        --blue: #437cf3;
        /* Default Prefix: Efforts */
        --blue-violet: #6f51f4;
        /* Default Prefix: None */
        --violet: #9446f8;
        /* Default Prefix: 400 */
        --purple: #c952ed;
        /* Default Prefix: 500 */
        --magenta: #e54f9b;
        /* Default Prefix: 600 */
        --hot-red: #e3365e;
        /* Default Prefix: 700 */
        --cool-gray: #515768;
        /* Default Prefix: 999 */

        --default-text-color: #d0d0d0;
        --highlight: #fff;
        --shadow: #0b0c2c;

        --nav-item-weight-hover: bold;
}

/* Light Theme Specific Properties */
.theme-light {
        --contrast-color: var(--shadow);
        --default-text-color: var(--shadow);
        --bg-contrast-amount: 70%;
        --fg-contrast-amount: 30%;
        --medium-contrast-amount: 60%;
        --active-contrast-amount: 30%;

        /* Darker Versions of Bright Colors for Light Theme */
        --yellow: color-mix(in srgb, #ffd85e 90%, var(--shadow));
        --lime: color-mix(in srgb, #97e768 90%, var(--shadow));
        --mint: color-mix(in srgb, #52eea3 85%, var(--shadow));
        --cyan: color-mix(in srgb, #51e1e9 85%, var(--shadow));
        --cool-cyan: color-mix(in srgb, #43cfea 85%, var(--shadow));
        --light-blue: color-mix(in srgb, #54b6f8 90%, var(--shadow));
}

/* Dark Theme Specific Properties */
.theme-dark {
        --contrast-color: var(--highlight);
        --bg-contrast-amount: 15%;
        --fg-contrast-amount: 40%;
        --medium-contrast-amount: 20%;
        --active-contrast-amount: 10%;
}

/* All Folder Titles */
.nav-folder-title {
        font-weight: bold;
        border-radius: 5px;
}

/* Narrower Padding on Desktop*/
@media only screen and (min-width: 768px) {

        .nav-file-title,
        .nav-folder-title {
                /* padding: 3px 5px 2px 4px !important; */
                padding-top: 3px !important;
                padding-right: 5px !important;
                padding-bottom: 2px !important;
                padding-left: 15px;
        }
}

/*
============================ Folder Title Prefixes =============================
The following groups of prefixes are divided by the numbering prefix that they
target. For example, prefix '000' targets any folder titles beginning with '000',
such as '000 - Maps of Content'. The only other piece of information that changes
between the prefix groups are the color variables. Change or expand on any of
these to suit your own folder structure and vault theme!
*/

/* ------------------------------- 000 Prefix -------------------------------- */
.nav-folder-title[data-path^="000"] {
        color: var(--mint);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--mint) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--mint) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--mint) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb, var(--mint) 60%, transparent);
}

.nav-folder-title[data-path^="000"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--mint) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="000"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--mint) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="000"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--mint) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--mint) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--mint) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--mint) var(--active-contrast-amount),
                        transparent);
}

/* ------------------------------- Atlas Prefix -------------------------------- */
.nav-folder-title[data-path^="Atlas"] {
        color: var(--cyan);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--cyan) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--cyan) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--cyan) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb, var(--cyan) 60%, transparent);
}

.nav-folder-title[data-path^="Atlas"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--cyan) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="Atlas"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--cyan) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="Atlas"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--cyan) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--cyan) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--cyan) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--cyan) var(--active-contrast-amount),
                        transparent);
}

/* ------------------------------- Calendar Prefix -------------------------------- */
.nav-folder-title[data-path^="Calendar"] {
        color: var(--light-blue);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--light-blue) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--light-blue) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--light-blue) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--light-blue) 60%,
                        transparent);
}

.nav-folder-title[data-path^="Calendar"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--light-blue) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="Calendar"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--light-blue) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="Calendar"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--light-blue) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--light-blue) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--light-blue) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--light-blue) var(--active-contrast-amount),
                        transparent);
}

/* ------------------------------- Efforts Prefix -------------------------------- */
.nav-folder-title[data-path^="Efforts"] {
        color: var(--blue);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--blue) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--blue) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--blue) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb, var(--blue) 60%, transparent);
}

.nav-folder-title[data-path^="Efforts"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--blue) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="Efforts"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--blue) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="Efforts"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--blue) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--blue) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--blue) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--blue) var(--active-contrast-amount),
                        transparent);
}

/* ------------------------------- 400 Prefix -------------------------------- */
.nav-folder-title[data-path^="400"] {
        color: var(--violet);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--violet) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--violet) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--violet) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb, var(--violet) 60%, transparent);
}

.nav-folder-title[data-path^="400"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--violet) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="400"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--violet) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="400"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--violet) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--violet) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--violet) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--violet) var(--active-contrast-amount),
                        transparent);
}

/* ------------------------------- 500 Prefix -------------------------------- */
.nav-folder-title[data-path^="500"] {
        color: var(--purple);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--purple) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--purple) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--purple) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb, var(--purple) 60%, transparent);
}

.nav-folder-title[data-path^="500"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--purple) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="500"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--purple) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="500"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--purple) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--purple) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--purple) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--purple) var(--active-contrast-amount),
                        transparent);
}

/* ------------------------------- 600 Prefix -------------------------------- */
.nav-folder-title[data-path^="600"] {
        color: var(--magenta);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--magenta) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--magenta) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--magenta) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--magenta) 60%,
                        transparent);
}

.nav-folder-title[data-path^="600"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--magenta) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="600"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--magenta) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="600"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--magenta) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--magenta) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--magenta) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--magenta) var(--active-contrast-amount),
                        transparent);
}

/* ------------------------------- 700 Prefix -------------------------------- */
.nav-folder-title[data-path^="700"] {
        color: var(--hot-red);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--hot-red) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--hot-red) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--hot-red) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--hot-red) 60%,
                        transparent);
}

.nav-folder-title[data-path^="700"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--hot-red) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="700"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--hot-red) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="700"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--hot-red) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--hot-red) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--hot-red) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--hot-red) var(--active-contrast-amount),
                        transparent);
}

/* ------------------------------- 999 Prefix -------------------------------- */
.nav-folder-title[data-path^="999"] {
        color: var(--cool-gray);
        --nav-item-color-hover: color-mix(in srgb,
                        var(--cool-gray) var(--fg-contrast-amount),
                        var(--contrast-color));
        --nav-item-background-hover: color-mix(in srgb,
                        var(--cool-gray) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--cool-gray) 40%,
                        transparent);
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--cool-gray) 60%,
                        transparent);
}

.nav-folder-title[data-path^="999"]:hover {
        --nav-collapse-icon-color: color-mix(in srgb,
                        var(--cool-gray) 60%,
                        var(--contrast-color));
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="999"]) {
        --nav-indentation-guide-color: color-mix(in srgb,
                        var(--cool-gray) var(--medium-contrast-amount),
                        transparent);
}

.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="999"]) .nav-file-title {
        color: color-mix(in srgb,
                        var(--cool-gray) var(--medium-contrast-amount),
                        var(--default-text-color));
        --nav-item-background-hover: color-mix(in srgb,
                        color-mix(in srgb, var(--cool-gray) 50%, var(--highlight)) var(--bg-contrast-amount),
                        transparent);
        --background-modifier-border-focus: color-mix(in srgb,
                        var(--cool-gray) 40%,
                        transparent);
        --nav-item-background-active: color-mix(in srgb,
                        var(--cool-gray) var(--active-contrast-amount),
                        transparent);
}